{{- define "main" }}

<article class="post-single">
  <header class="post-header">
    <h1 class="post-title">
      {{ .Title }}
      {{- if .Draft }}<div class="entry-isdraft"><sup>&nbsp;&nbsp;[draft]</sup></div>{{- end }}
    </h1>
    {{- if .Params.hideMeta }}{{ else }}
    <div class="post-meta">
      {{- partial "post_meta.html" . -}}
      {{- if .IsTranslated -}}&nbsp;|&nbsp;
      <ul class="i18n_list">
        {{- i18n "translations" | default "Translations"}}:
        {{- range .Translations }}
        <li>
          <a href="{{ .Permalink }}">
            {{- if (and $.Site.Params.displayFullLangName (.Language.LanguageName)) }}
            {{- .Language.LanguageName | emojify | humanize -}}
            {{- else }}
            {{- .Lang | humanize -}}
            {{- end -}}
          </a>
        </li>
        {{- end }}
      </ul>
      {{- end }}
    </div>
    {{- end}}
  </header>
  {{- partial "cover.html" (dict "cxt" . "IsHome" false) }}
  {{- if .Params.ShowToc }}
  <!-- Convert kit top of article email sub -->
  <script async data-uid="9d5f55b5a0" src="https://sunny-founder-9987.ck.page/9d5f55b5a0/index.js"></script>
  <br>
  <div class="toc">
    <details {{if .Params.TocOpen }} open{{ end }}>
      <summary accesskey="c" title="(Alt + C)">
        <div class="details">{{- i18n "toc" | default "Table of Contents" }}</div>
      </summary>
      <blockquote>
        {{- partial "toc.html" . }}
      </blockquote>
    </details>
  </div>
  {{- end }}
  <div class="post-content">
    {{- partial "anchored_headings.html" .Content -}}
  </div>
  <footer class="post-footer">
    {{- if .Params.tags }}
    <ul class="post-tags">
      {{- range ($.GetTerms "tags") }}
      <li><a href="{{ .Permalink }}">{{ .LinkTitle }}</a></li>
      {{- end }}
    </ul>
    {{- end }}
    {{- if (and .Site.Params.ShowShareButtons (ne .Params.disableShare true) ) }}
    {{- partial "share_icons.html" . }}
    {{- end }}
  </footer>

  <!-- CK number 2 at bottom of post -->
  <br>
  <script async data-uid="9d5f55b5a0" src="https://sunny-founder-9987.ck.page/9d5f55b5a0/index.js"></script>
  <br>

  <!-- Buy me a burrito-->
  <br>
  <a href="https://www.buymeacoffee.com/beecodes"><img class = "unstyled" src="https://img.buymeacoffee.com/button-api/?text=Buy me a burrito&emoji=🌯&slug=beecodes&button_colour=FFDD00&font_colour=000000&font_family=Cookie&outline_colour=000000&coffee_colour=ffffff"></a>
  </br>

  {{- if and ($.Site.Params.comments) (ne .Params.comments false) }}
  {{- partial "comments.html" . }}
  {{- end }}
</article>

{{- end  }}{{/* end main */}}
